.Verdana{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.Franklin-Gothic-Medium{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.TimesNewRoman{
    font-family: 'Times New Roman', Times, serif;
}